.footer {
    width: 100%;
    background-color: $bg-footer;
      font-size: 16px;
    line-height: 28px;
}

.footer-container {
@include flex-centr;
padding: 65px 0 75px 0;
color: $secondary-color;

    .section-title {
    color: #fff;
}
}

.footer-description {
    width: 684px;
    margin: 22px 0 37px 0;
    text-align: center;
    @media (max-width: 768px) {
       
        width: 300px;
    }
}

.icons {
    display: flex;
}

.icon {
    width: 34px;
    height: 34px;  
}

.footer-contacts {
    margin: 34px 0 70px 0;
    @media (max-width: 768px) {
       
        width: 300px;
    }
}