.posts {
    width: 1170px;
    margin: 69px auto;

    @media only screen and (max-width: 991px) {
        width: 100%;
        padding-left: 3%;
    }
}


.posts-container {
    margin-top: 24px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
        @media only screen and (max-width: 991px) {
       flex-direction: column;
    }
}



.post {
    width: 555px;
    display: flex;

    @media (max-width: 991px) { 
        width: 100%;
    }
    @media (max-width: 425px) { 
        flex-direction: column;
    }
}
 
.post-img {
    width: 160px;
    height: 140px; 
}

.post-content {
    margin-left: 21px;
    @media (max-width: 425px) { 
        margin-left: 0;;
    }
}

.post-title {
    font-weight: 700;
font-size: 16px;
line-height: 30px;
color: $primary-color;
}

.post-description {
    font-size: 12px;
    line-height: 20px; 
    color: $descr-coolor;
}

.post-text {
    font-size: 14px;
line-height: 26px;
color: $text-color;
@media only screen and (max-width: 475px) {
   display: none;
}
}